<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jndi/orcl</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>WXAPIServlet</servlet-name>
    <servlet-class>com.efreight.weixin.WXAPIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXAPIServlet</servlet-name>
    <url-pattern>/WXAPIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WXAPIService</servlet-name>
    <servlet-class>com.efreight.weixin.WXAPIService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXAPIService</servlet-name>
    <url-pattern>/WXAPIService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WXReportServlet</servlet-name>
    <servlet-class>com.efreight.weixin.WXReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXReportServlet</servlet-name>
    <url-pattern>/WXReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLocationServlet</servlet-name>
    <servlet-class>com.efreight.weixin.UserLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLocationServlet</servlet-name>
    <url-pattern>/UserLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WXFileUploadServlet</servlet-name>
    <servlet-class>com.efreight.weixin.WXFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXFileUploadServlet</servlet-name>
    <url-pattern>/WXFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WXFileUploadSearchServlet</servlet-name>
    <servlet-class>com.efreight.weixin.WXFileUploadSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WXFileUploadSearchServlet</servlet-name>
    <url-pattern>/WXFileUploadSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.efreight.weixin.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.efreight.weixin.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <display-name>WeixinService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>